/* ==========================================================================
 m acchiato* theme skin
 ========================================================================== */

/* Colors */
$base-color: #aa55ff !default;
$text-color: #cdd6f4 !default;
$primary-color: #c6a0f6 !default;
$accent-color: #8839ef !default;
$background-color: #1e1e2e !default;
$code-background-color: mix(#000, $background-color, 15%) !default;
$code-background-color-dark: mix(#000, $background-color, 20%) !default;
$border-color: rgba($text-color, 0.5) !default;
$overlay-color: #c6a0f6 !default;

/* notices */
$notice-background-mix: 70% !default;
$code-notice-background-mix: 80% !default;
